body {
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #D97941;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

form input, form textarea, form button {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #D97941;
    border-radius: 4px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: rgb(226, 205, 205);
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
